<md-card class="app-input-section" id="treatment-section" *ngIf="treatment">
    <h4 class="title-treatment">Treatment for breast cancer</h4>
    <md-card class="notifications" [ngClass]="notification.type" *ngFor=" let notification of treatment.notifications ">
        <span>
          <i class="material-icons app-input-icon">warning</i>
        </span>
        <p>{{notification.description}}</p>
        <span class="notif-date ">{{notification.date | date:'shortDate'}}</span>
    </md-card>
    <div class="clear"></div>
    <div class="app-input-section regimen-section" *ngFor="let regimen of treatment.regimens">
        <h4 class="title-regimen">Regimen: {{regimen.name}}</h4>
        <div class="treatment-wrapper">
            <div class="chemotherapy-cycle" *ngFor="let cycle of regimen.cycles; let last=last">
                <div class="chemotherapy-main">
                    <div class="title">{{cycle.name}}</div>
                    <p class="start-date ">Cycle start date: {{cycle.start | date:'shortDate'}}</p>
                    <p class="end-date ">Cycle end date: {{cycle.end | date:'shortDate'}}</p>
                    <button class="drug-title md-accent" (click)="cycle.showDrugs=!cycle.showDrugs" md-raised-button>Drugs +</button>
                    <div class="clear"></div>
                    <div class="drugs-section" *ngIf="cycle.showDrugs">
                        <div class="drug-info" *ngFor="let drug of cycle.drugs ">
                            <span class="drug-name ">{{drug.name}}</span>
                            <span class="drug-dose ">{{drug.dose}} mg</span>
                            <span class="drug-date ">{{drug.date | date:'shortDate'}}</span>
                        </div>
                    </div>
                </div>
                <div class="connector" *ngIf="!last"></div>
            </div>
        </div>
    </div>
</md-card>