<md-card class="app-input-section info-diagnosis">
    <form>
        <h4>Patient Info Diagnosis</h4>
        <md-input type="number" placeholder="Clump Thickness" max="10" min="1" class="md-full-width">
            <span md-prefix>
          <i class="material-icons app-input-icon">info</i>
        </span>
        </md-input>
        <md-input placeholder="Uniformity Cell Size" class="md-full-width" type="number" max="10" min="1">
        </md-input>
        <md-input placeholder="Uniformity of Cell Shape" type="number" max="10" min="1" class="md-full-width">
        </md-input>
        <md-input placeholder="Marginal Adhesion" type="number" max="10" min="1" class="md-full-width">
        </md-input>
        <md-input placeholder="Single Epithelial Cell Size" type="number" max="10" min="1" class="md-full-width">
        </md-input>
        <md-input placeholder="Bare Nuclei" type="number" max="10" min="1" class="md-full-width">
        </md-input>
        <md-input placeholder="Bland Chromatin" type="number" max="10" min="1" class="md-full-width">
        </md-input>
        <md-input placeholder="Normal Nucleoli" type="number" max="10" min="1" class="md-full-width">
        </md-input>
        <md-input placeholder="Mitoses" type="number" max="10" min="1" class="md-full-width">
        </md-input>
    </form>
    <button md-raised-button md-tooltip="Breast cancer">Breast cancer diagnosis</button>
</md-card>
<md-card class="info-diagnosis">
    <div class="cancer-notify">
        <span>
          <i class="material-icons app-input-icon">warning</i>
      </span>This patient have signs and Symptoms of<span> Breast Cancer</span>
    </div>
    <form>
        <md-input type="number" placeholder="Weight (kg)" max="10" min="1" class="md-full-width">
        </md-input>
        <md-input placeholder="Height (cm)" class="md-full-width" type="number" max="10" min="1">
        </md-input>
    </form>
    <button md-raised-button md-tooltip="Treatment">Generate treatment</button>
</md-card>
<div class="clear"></div>
<md-card>
    <md-spinner class="app-spinner"></md-spinner>
    <md-spinner color="accent" class="app-spinner"></md-spinner>
</md-card>