@import 'blue-theme.css';

.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

.md-full-width{
  width: 100%;
}

.md-input-prefix{
  width: 30px;
}

.info-diagnosis{
  width: 520px;
  float:left;
}

.info-initial-treatment{
  padding:0;
}

.info-initial-treatment .treatment-info{
  padding:20px;
}

div.clear{
  clear: both;
}

.cancer-notify.red-info{
  background-color: #ff9292;
  color: black;
}

.cancer-notify.green-info{
  background-color: #66c168;
  color: white;
}

.app-spinner {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#treatment-section{
  padding-left: 0px;
  padding-right: 0px;
}

#treatment-section .title-treatment{
    margin-left: 16px;
}
#treatment-section .title-regimen{
    background-color:gray;
    color: white;
    padding: 10px;
}

#treatment-section .chemotherapy-cycle{
  width: 400px;
  display: inline-block;
  height: auto;
  position: relative;
  margin: 10px 0px 20px 0px;
}

#treatment-section .treatment-wrapper{
    width: calc(100% - 0px);
    display: inline-block;
    overflow-x: scroll;
    white-space: nowrap;
}

.chemotherapy-cycle .title{
  border-bottom: 2px solid;
  background: #03a9f4;
  color: white;
  padding: 10px;
  text-align: center;
}

.chemotherapy-cycle p{
  margin-left:10px;
}

.drugs-section {
  margin:10px;
  border-top: 0.5px dotted;
}

.drugs-section .drug-info{
  padding: 10px;
}

.chemotherapy-cycle .chemotherapy-main{
  float: left;
  width: 350px;
  border: 1px solid;
}

.chemotherapy-cycle .chemotherapy-main .drug-title{
  margin: 5px;
  float: right;
}

.connector{
  width: 49px;
  position: absolute;
  right: 0px;
  bottom: 80px;
  background: black;
  height: 5px;
}

.cancer-notify{
  margin-bottom: 10px;
  height: 20px;
  padding: 20px;
}

.notifications{
  background-color: #f8f8a2;
  width: 200px;
  float: right;
}

.logo-plain{
  width:250px;
}
